body {
    font-family: Arial,sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: darkblue;
}
#result{
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}